body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f9fc;
    color: #333;
}

header {
    background: linear-gradient(135deg, #00b4db, #0083b0);
    color: white;
    text-align: center;
    padding: 40px;
}

nav {
    background: #0077b6;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #e0f7ff, #ffffff);
}

.btn-principal {
    background: #00b4db;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.stats h3 {
    font-size: 40px;
    color: #0077b6;
}

.imagen-empresa {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card i {
    font-size: 40px;
    color: #00b4db;
}

.redes a {
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #0077b6;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
}

footer {
    background: #0077b6;
    color: white;
    padding: 20px;
}